* {
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), url("images/pozadina.jpg");
    background-position: center;
    background-size: cover;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    225deg,
    #3f22a7 0%,
    #0e10b9 29%,
    #1980c5 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.main-title {
    width: 80%;
    /* height: 50vh; */
    display: flex;
    border: 1px solid white;
    border-radius: 15px;
    /* background-image:url("images/pexels-carolina-castilla-arias-1716861.jpg" ) ; */
    background-position: center ;
    background-size: cover;
    flex: 1;
    
}

.buttoni {
    display: flex;
    height: 100%;
    flex: 1;
    
    /* background-color: #44107a; */
  }

  
.main-images {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    /* background-color: #ff1361; */

}

.button-izgled {
  flex-direction: column;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  
}


.button-izgled button {
  margin: 0.5rem;
  width: 8rem;
    border: 1px solid red;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
}

  .slika img {
  width: 25rem;
 
  border-radius: 5px;
  animation: 0.4s;
  border: 2px solid rgba(255, 0, 0, 0.74);
}

.slika {
  animation: 0.4s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

#dalje button{
  margin: 5rem;
}